[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
environs = "*"
mysqlclient = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-debug-toolbar = "*"
django-templated-mail = "*"
drf-nested-routers = "*"

[dev-packages]

[requires]
python_version = "3.10"
